<h2 id="grooming">Grooming</h2>

<div class="service">
    <h3>Bath & Dry Package</h3>
    <ul>
        <li>Bath and dry</li>
        <li>Brush out</li>
        <li>Nail trim</li>
        <li>Doggy cologne</li>
        <li>Ear clean</li>
    </ul>
</div>

<div class="service">
    <h3>Mini Groom</h3>
    <ul>
        <li>Bath & Dry package</li>
        <li>Paw trim</li>
        <li>Sanitary clip</li>
        <li>Eyes and eyebrows</li>
    </ul>
</div>

<div class="service">
    <h3>Handstripping</h3>
    <ul>
        <li>Stripping of the coat using a variety of tools designed for your dogs coat</li>
        <li>Scissoring on any required areas</li>
        <li>Doggy cologne</li>
        <li>Nail trim</li>
        <li>Bath & Dry package</li>
    </ul>
    <small>Please note this is available on the day of or up to 2 weeks after the strip, this is up to owners discretion.</small>
</div>

<div class="service">
    <h3>Full Groom</h3>
    <ul>
        <li>Bath & Dry Package</li>
        <li>Full top-to-tail clip and style</li>
    </ul>
</div>

<div class="service">
    <h3>Full Groom Deshed</h3>
    <ul>
        <li>Bath & Dry package</li>
        <li>Deshedding shampoo</li>
        <li>A brushout to help eliminate shedding in the home</li>
    </ul>
</div>

<div class="service">
    <h3>Birthday Package - £5</h3>
    <p>It's your dogs birthday! What better way to celebrate than giving them a special birthday pamper?</p>
    <p>This can be added onto any grooming package.</p>
    <ul>
        <li>Paw & nose balm</li>
        <li>Blueberry facial</li>
        <li>Birthday hat</li>
        <li>Bandana</li>
        <li>A special birthday photo posted on our social media</li>
    </ul>
    <p><small>Price depending on breed</small></p>
</div>
