<h2 id="puppy-school">Puppy School</h2>

<div class="service">
    <p>I offer 2 different services. A "Puppy Schools" which is a package or a stand alone "Puppy Session".</p>

    <p>The puppy session is 1 session which includes a bath & dry, eyes/eyebrows, paws and sanitary area (breed dependant), nail trimming, a short table training session. - £30</p>

    <h3>Why should you choose a puppy school and when can they start?</h3>
    <p>This is designed for puppies of all breeds and can be tailored to suit every dog from giant to small breeds. All coat types can benefit too from a Poodle to a Staffy. Grooming is a very big part of your dog's life and should be an enjoyable experience for them!</p>
    <p>We recommend puppies coming in from as early as 2 weeks after their 2nd jab. The reason why this is recommended is due to how at 4 months old puppies tend to enter the "fear" stage of their life where certain things can become very scary. As they will already become accustomed to the grooming environment and equipment there is less chance of them being scared and developing a fear or worse fear aggression to grooming. Don't panic if your puppy is a little bit older. This can be started at any age! We recommend under 6 months for the best results but this is available for dogs up to 1 year old.</p>

    <h3>What will your puppy learn?</h3>
    <p>During your puppies 6 sessions they will learn through positive encouragement that grooming is a good thing. Choosing a course rather than a single session will help your puppy adapt and help us as groomers work on the areas your puppy has found scariest.</p>
    <p>Your puppy will have training and learn the following things:</p>
    <ul>
        <li>Bathing,</li>
        <li>Drying, </li>
        <li>Basic table mannerisms (like stand, paw and sit),</li>
        <li>Nail trimming,</li>
        <li>Equipment desensitisation,</li>
        <li>Teeth cleaning,</li>
        <li>Table training,</li>
        <li>Scissoring,</li>
        <li>Clipping</li>
    </ul>

    <p>Not only will your puppy learn table and grooming manners they will also receive:</p>
    <ul>
        <li>A graduation certificate</li>
        <li>A graduation photo posted on social media (as long as they are happy to pose)</li>
        <li>Training treats for their further education</li>
        <li>Equipment needed to keep their coat in top condition <small>For example, a cockapoo puppy would receive a slicker brush and comb.</small></li>
    </ul>

    <p><small>Due to receiving the equipment on the first session this package does need to be paid for in advance. We recommend booking sessions no more than 2 weeks apart.</small></p>

    <h4>Meet & Greet</h4>
    <p>Come and meet the Soggy Doggy Grooming team and ask any questions you may have about the course. If you decide that the course is not for you don't worry you don't have to pay for this session. Your puppy will have a 15 minute session to explore the salon allowing them free roam to have a sniff and see what is around, have a little play and some treats. On collection we can discuss the course in further detail and provide you with the tools to take home and brushing tips to keep your puppies coat in top condition.</p>

    <h4>Puppy Pamper</h4>
    <p>This will be your puppies first experience of grooming with a bath in our puppy friendly shampoo, a chance to get used to the dryers on a low setting, trim around paws, eyes/eyebrows, sanitary area (depending on breed) and a nail trim. This will also allow us to see what bits your puppy is afraid of to work on their next session.</p>

    <h4>Train & Treat</h4>
    <p>This session will be 30 minutes. 20 minutes will be training on the areas where your puppy found most scary and the other 10 minutes will be broken up between the training consisting of play time, this will include fun things like toys, treats and interactive time helping your puppy destress </p>


    <h4>Puppy Pamper</h4>
    <p>This will be your puppies second experience of grooming with the same things as the first pamper session but including teeth cleaning training. With this session your puppy should now have a little more confidence and putting the things learnt in their Train & Treat session into place.This will also allow us to see what bits your puppy may need a little more training with in their final Train & Treat session </p>


    <h4>Train & Treat</h4>
    <p>This session will be another 30 minute session. This session will now be focusing on any last bits that I as the groomer feels your puppy needs some final training on with positive reassurance. The session will end with some play and distress time.</p>


    <h4>Graduation</h4>
    <p>In this session your puppy will complete their course with a last puppy pamper, teeth clean and finishing with play time.</p>
    <p>Your puppy will have a graduation photo posted on our social media (as long as they're happy to sit for) and get to take home a certificate and treats for further training </p>
</div>