<h2 id="spa-treatments">Spa Treatments & Shampoos</h2>

<div class="service">
    <h3>Exfoliating Facial Treatment - £2</h3>
    <p>This is great to remove eye bogies and stubborn dirt, and rehydrating the area.</p>
    <p>This is available in black cherry, blueberry, calming, vanilla & shea butter</p>
</div>

<div class="service">
    <h3>Paw Scrub & Fizz - £5</h3>
    <p>This provides a deep clean while helping to eliminate fungus, germs, and bacteria. Recommended for dogs that chew their paws or do a lot of field and concrete walking.</p>
</div>

<div class="service">
    <h3>Paw & Nose Balm - Available on Request</h3>
    <p>Nourishing for your dogs paws and nose. This is great for dogs that have dry cracked paws and noses.</p>
    <p><small>This treatment is FREE upon request.</small></p>
</div>

<div class="service">
    <h3>Deep Conditioning Treatment</h3>
    <p>Specifically formulated to revive brittle, listless, and lifeless coasts, restoring vitality, softness and condition to even the most damaged coats. Great for all especially curly coats and old dogs.</p>
</div>

<div class="service">
    <h3>Oatmeal Shampoo</h3>
    <p>This contains oat proteins to soothe and reduce irritation in the skin as well as natural coconut extra and almost oil to help moisturise and condition hair. It helps to ease dryness and inflammation at the same time.</p>
</div>

<div class="service">
    <h3>Dirty Beast Shampoo</h3>
    <p>An aloe vera base perfectly-balanced formula that will effectively clease dirty and thick fur along with helping deodorise even the smelliest coats.</p>
</div>

<div class="service">
    <h3>Whitening Shampoo</h3>
    <p>Carefully balanced formula that will enhance, revitialise and refresh the natural white and light pigmentation in your pet's coat. This is great for removing yellow, brown, and grass staining.</p>
</div>

<div class="service">
    <h3>Colour-Enhancing Shampoo</h3>
    <p>Great for giving coats a new lease of life by boosting its natural pigmentation.</p>
</div>