<h2 id="teeth-cleaning">Teeth Cleaning</h2>

<div class="service">
    <h3>Simple Teeth Cleaning - £5</h3>
    <p>A generic teeth clean can be done using a brush and doggy toothpaste. This is great for dogs who don't have much buildup of plaque and for owners who want to keep on top of their dog's dental hygiene.</p>
    <p><small>This can be done as a standalone service or an optional extra added onto a groom.</small></p>
</div>

<div class="service">
    <h3>Advanced Teeth Cleaning - From £20</h3>
    <p>An advanced teeth clean is performed with an ultrasonic toothbrush designed to target underneath the plaque and help lift it away leaving a nice, clean tooth behind. This method can help reduce inflammation, redness, fight against bacteria, and reduce smelly breath.</p>
    <p>This can sometimes take a couple of sessions but is highly recommended for dogs with a buildup on their teeth.</p>
    <p><small>This can be done as a standalone service or an optional extra added onto a groom.</small></p>
    <p><small>£30 for 1st session. £20 for each following session.</small></p>
</div>