<h2 id="training-sessions">Training Sessions</h2>

<div class="service">
    <p>Some dogs don't like being groomed and that's okay! Not everyone enjoys the salon experience and it can be scary for some, especially if they have not had puppy training in a salon environment. We offer training sessions to help show dogs that you don't need to be afraid and it can be an enjoyable experience.</p>
    <p>Training sessions can vary from dog to dog. We recommend bringing high-value treats e.g. chicken/cheese/etc. to these appointments as this engages the dogs brain more with giving them their favourite treat. While some dogs only need the odd session, others may need more frequent sessions. </p>
    <p><small>Standard session pricing is £25.</small></p>
    <p><small>Multiple session pricing can be discussed during a consultation.</small></p>
</div>