<div class="home-about">
    <div class="home-about-left">
        <img class="home-about-img" src="/images/facelick.jpg" />
    </div>
    <div class="home-about-right">
        <div class="home-about-text">
            <header class="home-about-text-header">Welcome to Soggy Doggy Grooming</header>
            <p>Hi, I'm Katie! I'm a City & Guilds Level 3 qualified dog groomer. Through my love of animals, I found becoming a dog groomer was a dream job and a perfect fit for me!</p>
            <p>With several years of experience in professional salons, I've learnt the tricks of the trade and will provide a service you know you can trust!</p>
        </div>
    </div>
</div>