<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-left">
                <p>
                    <i class="fa-solid fa-fw fa-user"></i>
                    <span>Katie Leszman</span>
                </p>
                <p>
                    <i class="fa-solid fa-fw fa-circle-user fa-invisible"></i>
                    <span>Soggy Doggy Torbay</span>
                </p>
                <p>
                    <a href="mailto:soggydoggytorbay@gmail.com">
                        <i class="fa-solid fa-fw fa-envelope"></i>
                        <span>soggydoggytorbay@gmail.com</span>
                    </a>
                </p>
                <p class="tel">
                    <a href="tel:07435032490">
                        <i class="fa-solid fa-fw fa-phone"></i>
                        <span>07435 032 490</span>
                    </a>
                </p>
            </div>
            <div class="footer-right">
                <div class="address">
                    <div class="address-home"><i class="fa-solid fa-fw fa-building"></i>318 Teignmouth Road</div>
                    <div>Torquay</div>
                    <div>TQ1 4RR</div>
                </div>
            </div>
        </div>
    </div>
</footer>
