<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-left">
                <p>Katie Leszman</p>
                <p>Soggy Doggy Grooming</p>
            </div>
            <div class="footer-right">
                <div>
                    <a href="mailto:soggydoggygrooming@gmail.com">
                        <i class="fa-solid fa-envelope"></i>
                        <span>soggydoggygrooming@gmail.com</span>
                    </a>
                </div>
                <div>
                    <a href="https://www.facebook.com/profile.php?id=61570448295284" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                        <span>Soggy Doggy Grooming</span>
                    </a>
                </div>
                <div>
                    <a href="https://www.instagram.com/soggy_doggygrooming" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                        <span>@soggy_doggygrooming</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
