<div class="service-page">
    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Bath & Dry Package
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bath and dry</li>
                            <li>Brush out</li>
                            <li>Nail trim</li>
                            <li>Doggy cologne</li>
                            <li>Ear clean</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Mini-Groom
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bath and dry</li>
                            <li>Brush out</li>
                            <li>Sanitary clip</li>
                            <li>Paw pad and nail trim</li>
                            <li>Eyes and eyebrows</li>
                            <li>Doggy cologne</li>
                            <li>Ear clean</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-images">
        <img src="/images/bathing.jpg" alt="Bathing" />
        <img src="/images/otto.jpg" alt="Otto Groomed" />
        <img src="/images/deshedding.jpg" alt="Deshedding" />
    </div>

    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Full Groom
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bath and dry</li>
                            <li>Brush out</li>
                            <li>Full nose-to-tail clip & style</li>
                            <li>Sanitary clip</li>
                            <li>Paw pad and nail trim</li>
                            <li>Doggy cologne</li>
                            <li>Ear clean</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Full Groom Deshed
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bath and dry</li>
                            <li>Deshedding shampoo</li>
                            <li>Brush out</li>
                            <li>Scissor trim <small>(breed dependent)</small></li>
                            <li>Paw pad and nail trim</li>
                            <li>Doggy cologne</li>
                            <li>Ear clean</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-images">
        <img src="/images/daisy.jpg" alt="Daisy Groomed" />
        <img src="/images/meg.jpg" alt="Meg Groomed" />
        <img src="/images/stbernard.jpg" alt="St Bernard" />
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Handstripping
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <ul>
                        <li>Bath and dry</li>
                        <li>Stripping of the coat</li>
                        <li>Scissoring on any required areas</li>
                        <li>Nail trim</li>
                        <li>Doggy cologne</li>
                        <li>Ear clean</li>
                    </ul>
                    <small>Please note the bath & dry package is available on the day of or up to 2 weeks after the
                        strip</small>
                </div>
            </div>
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Birthday Package - £5
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>It's your dogs birthday! What better way to celebrate than giving them a special birthday pamper?
                        This can be added onto any grooming package.</p>
                    <ul>
                        <li>Paw & nose balm</li>
                        <li>Any available facial type</li>
                        <li>Birthday hat</li>
                        <li>Bandana</li>
                        <li>A special birthday photo posted on our social media</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Seasonal Packages
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Please check our social medias for updates on which seasonal packages are currently available and what they include.</p>
                </div>
            </div>
        </div>
    </div>

    <small>Price depending on breed</small>
</div>