<meta charset="utf-8">
{{/*  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  */}}


<!-- OpenGraph Metadata -->
<meta property="og:title" content="Soggy Doggy Grooming" />
<meta property="og:image" content="/images/og-image.png" />

<title>{{ .Page.Title }} - Soggy Doggy Torbay</title>

<!-- Favicon -->
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Soggy Doggy Torbay" />
<link rel="manifest" href="/images/site.webmanifest" />

<!-- Site Styles -->
{{ $style := resources.Get "sass/main.scss" | css.Sass | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- FontAwesome -->
<link rel="stylesheet" href="/fontawesome/css/fontawesome.min.css" />
<link rel="stylesheet" href="/fontawesome/css/brands.min.css" />
<link rel="stylesheet" href="/fontawesome/css/solid.min.css" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">