<div class="service-page">
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Late Night Appointments
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This service is offered as a surcharge for those who cannot attend during our normal opening
                        hours. This must be paid for in advanced and is available on select evenings.</p>
                </div>
            </div>
        </div>
    </div>
    
    <p><small>Price depending on breed</small></p>

    <div class="service-images">
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
    </div>
</div>