<div class="service-page">
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Nail Trimming - £6.50
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Walk-in nail trims are welcome or can be arranged via appointment.</p>
                    <p><em>All appointments that include a bath will have a nail trim included in the price.</em></p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-image-pair">
        <img src="/images/nail-trim-before.jpg" alt="Whitening Shampoo Before" />
        <img src="/images/nail-trim-after.jpg" alt="Whitening Shampoo After" />
    </div>
</div>