<div class="service-page">
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Nail Trimming
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Walk-in nail trims are welcome or can be arranged via appointment.</p>
                    <p><em>All appointments that include a bath with have a nail trim included in the price.</em></p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-images">
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
    </div>
</div>