<nav class="navbar">
    <div class="nav-brand">
        <a href="/">
            <img class="nav-logo" alt="Soggy Doggy Grooming logo" src="/images/logo.png" title="Soggy Doggy Grooming" />
        </a>
    </div>
    <div class="nav-links">
        <div><a href="/" title="Home">Home</a></div>
        <div><a href="/services/" title="Services">Services</a></div>
        <div><a href="https://www.instagram.com/soggy_doggygrooming" title="Gallery" target="_blank">Gallery</a></div>
        <div><a href="/contact/" title="Contact">Contact</a></div>
    </div>
</nav>