<nav class="navbar">
    <div class="nav-brand">
        <a href="/">
            <img class="nav-logo" alt="Soggy Doggy Grooming logo" src="/images/logo.png" title="Soggy Doggy Grooming" />
        </a>
    </div>
    <div class="nav-links">
        <div>
            <a href="/" title="Home">Home</a>
        </div>
        <div class="dropdown">
            <a class="dropdown-link" href="/services/" title="Services">Services</a>
            <div class="dropdown-content">
                <a href="/grooming/" class="btn-service" title="Grooming">
                    Grooming
                </a>
                <a href="/teeth-cleaning/" class="btn-service" title="Teeth Cleaning">
                    Teeth Cleaning
                </a>
                <a href="/spa-treatments/" class="btn-service" title="Spa Treatments & Shampoos">
                    Spa Treatments & Shampoos
                </a>
                <a href="/nail-trimming/" class="btn-service" title="Nail Trimming">
                    Nail Trimming
                </a>
                <a href="/late-night-appointments/" class="btn-service" title="Late Night Appointments">
                    Late Night Appointments
                </a>
                <a href="/training-sessions/" class="btn-service" title="Training Sessions">
                    Training Sessions
                </a>
                <a href="/puppy-school/" class="btn-service" title="Puppy School">
                    Puppy School
                </a>
                <a href="/owner-school/" class="btn-service" title="Owner School">
                    Owner School
                </a>
            </div>
        </div>
        <div style="display:flex">
            <a href="https://www.facebook.com/profile.php?id=61570448295284" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/soggy_doggygrooming" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
        </div>
        <div>
            <a href="/contact/" title="Contact">Contact</a>
        </div>
    </div>
</nav>