<div class="service-page">
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This is for all owners who not only want to further your dog's education but your own too! The
                        session will help give you the knowledge and understanding on how best to manage your dogs coat
                        and the easiest way to brush at home.</p>
                    <p><small>This is available as a solo or group appointment. Please advise which you would like when
                            booking.</small></p>
                    <p><small>Evening appointments available.</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service-images">
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        <img src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
    </div>
</div>