<div class="service-page">
    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Puppy Session - £30
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bath and dry</li>
                            <li>Eyes & eyebrows trim</li>
                            <li>Paws & sanitary area trim</li>
                            <li>Nail trimming</li>
                            <li>Table training</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Puppy School
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Introduction session</li>
                            <li>5 x Training session</li>
                            <li>Graduation certificate</li>
                            <li>Graduation photo</li>
                            <li>Training treats</li>
                            <li>Home equipment</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-1.jpg" alt="Puppy School" />
        </div>

        <div class="service-split-text-container">
            <div class="service-block-text-body">
                <div class="service-block-text-header">
                    Why choose a Puppy School?
                </div>
                <div class="service-block-description">
                    <p>This is designed for puppies of all breeds and can be tailored to suit every dog from giant to
                        small breeds. All coat types can benefit too from a Poodle to a Staffy. Grooming is a very big
                        part of your dog's life and should be an enjoyable experience for them!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                When can my puppy start?
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>We recommend puppies coming in from as early as 2 weeks after their 2nd jab. From 4 months old,
                        puppies tend to enter the "fear" stage of their life where certain things can become very scary.
                        By being accustomed to the environment and equipment, there is less chance of them developing a
                        fear or becoming aggressive during grooming.</p>
                    <p>Don't panic if your puppy is a little bit older. This can be started at any age! We recommend
                        under 6 months for the best results but this is available for dogs up to 1 year old.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-text-container">
            <div class="service-block-text-body">
                <div class="service-block-text-header">
                    What will your puppy learn?
                </div>
                <div class="service-block-description">
                    <p>During your puppy's 6 sessions they will learn through positive encouragement that grooming is a
                        good thing.</p>
                    <p>Choosing a course rather than a single session will help your puppy adapt and help us to focus on
                        the areas your puppy has found the scariest.</p>
                </div>
            </div>
        </div>
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-2.jpg" alt="Puppy" />
        </div>
    </div>

    <div class="service-text" style="text-transform:uppercase">
        Your puppy will have training and learn the following
    </div>

    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Bathing and drying</li>
                            <li>Basic table commands</li>
                            <li>Nail trimming</li>
                            <li>Equipment desensitisation</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <ul>
                            <li>Teeth cleaning</li>
                            <li>Table training</li>
                            <li>Scissoring</li>
                            <li>Clipping</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-5.jpg" alt="Puppy" />
        </div>

        <div class="service-split-text-container">
            <div class="service-block-text-body">
                <div class="service-block-text-header">
                    You will also receive
                </div>
                <div class="service-block-description">
                    <ul>
                        <li>A graduation certificate</li>
                        <li>A graduation photo posted on social media</li>
                        <li>Training treats for further education</li>
                        <li>Equipment needed to keep their coat in top condition</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="service-text">
        <div class="text-center"><small>Due to receiving the equipment on the first session this package does need to be
                paid for in
                advance.</small></div>
        <div class="text-center"><small>We recommend booking sessions no more than 2 weeks apart.</small></div>
    </div>

    <div class="service-text">
        <h2>Puppy School Itinerary</h2>
    </div>

    <div class="service-split">
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Meet & Greet
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Come and meet the Soggy Doggy Grooming team and ask any questions you may have about the course.
                        If you decide that the course is not for you don't worry you don't have to pay for this session.
                        Your
                        puppy will have a 15 minute session to explore the salon allowing them free roam to have a sniff
                        and see
                        what is around, have a little play and some treats. On collection we can discuss the course in
                        further
                        detail and provide you with the tools to take home and brushing tips to keep your puppies coat
                        in top
                        condition.</p>
                </div>
            </div>
        </div>

        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-bath.jpg" alt="Puppy bath" />
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-wash.jpg" alt="Puppy Wash" />
        </div>
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Puppy Pamper
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This will be your puppies first experience of grooming with a bath in our puppy friendly shampoo,
                        a chance to get used to the dryers on a low setting, trim around paws, eyes/eyebrows, sanitary
                        area and a nail trim. This will also allow us to see what bits your puppy is afraid of to work
                        on their next session.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Train & Treat
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This session will be 30 minutes. 20 minutes will be training on the areas where your puppy found
                        most scary
                        and the other 10 minutes will be broken up between the training consisting of play time, this
                        will include
                        fun things like toys, treats and interactive time helping your puppy destress.</p>
                </div>
            </div>
        </div>

        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-4.jpg" alt="Puppy" />
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        </div>
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Puppy Pamper
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This will be your puppies second experience of grooming with the same things as the first pamper
                        session but
                        including teeth cleaning training. With this session your puppy should now have a little more
                        confidence and
                        putting the things learnt in their Train & Treat session into place. This will also allow us to
                        see what bits
                        your puppy may need a little more training with in their final Train & Treat session.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Train & Treat
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This session will be another 30 minute session. This session will be focusing on any last bits
                        that I feel your puppy needs some final training on with positive reassurance. The session will
                        end with some play and distress time.</p>
                </div>
            </div>
        </div>

        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-3.jpg" alt="Puppy" />
        </div>
    </div>

    <div class="service-split">
        <div class="service-split-image-container">
            <img class="service-split-image" src="/images/puppy-grad.jpg" alt="Puppy graduation" />
        </div>
        <div class="service-split-text-container">
            <div class="service-block-text-header">
                Puppy Pamper & Graduation
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>In this session your puppy will complete their course with a last puppy pamper, teeth clean and
                        finishing
                        with play time.</p>
                    <p>Your puppy will have a graduation photo posted on our social media (as long as they're happy to
                        sit for one) and
                        get to take home a certificate and treats for further training.</p>
                </div>
            </div>
        </div>
    </div>

    <div><small>Due to getting the tools you need to keep your dog in tip top condition during the meet & greet session, if you decide you want to continue with puppy school, this course will need to be paid in full at the end of this session.</small></div>
</div>