<div class="services-summary">
    <div class="services-summary-item">
        <div class="services-summary-item-name">Grooming Services</div>
        <div class="services-summary-item-description">
            A selection of services ranging from a simple bath & dry to a full groom with clip and style.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/grooming/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Teeth Cleaning</div>
        <div class="services-summary-item-description">
            Remove plaque and tartar, and help prevent dental disease with our teeth cleaning services.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/teeth-cleaning/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Spa Treatments & Shampoos</div>
        <div class="services-summary-item-description">
            Choose from a range of additional treatments designed to keep your dog's coat clean & healthy.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/spa-treatments/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Nail Trimming</div>
        <div class="services-summary-item-description">
            Keep those claws in check with our nail trimming services.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/nail-trimming/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Late Night Appointments</div>
        <div class="services-summary-item-description">
            For those who can't attend during our normal opening hours.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/late-night-appointments/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Training Sessions</div>
        <div class="services-summary-item-description">
            Help your dog get accustomed to the grooming experience.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/training-sessions/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Puppy School</div>
        <div class="services-summary-item-description">
            Teach your puppy from a young age how to handle the grooming experience.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/puppy-school/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>

    <div class="services-summary-item">
        <div class="services-summary-item-name">Owner School</div>
        <div class="services-summary-item-description">
            Learn tips and tricks about how to properly care for your dog's coat.
        </div>
        <div class="services-summary-item-controls">
            <a href="/services/owner-school/" class="btn-service">
                View More
            </a href="/">
        </div>
    </div>
</div>