<div class="services-summary">
    <div class="service-block">
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/bathing.jpg" alt="Bathing dog" />
        </div>
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Grooming Services
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    A selection of services ranging from a simple bath & dry to a full groom with clip and style.
                </div>
                <div class="service-block-controls">
                    <a href="/grooming/" class="btn-service" title="View grooming services">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Teeth Cleaning
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Remove plaque and tartar, and help prevent dental disease with our teeth cleaning services.
                </div>
                <div class="service-block-controls">
                    <a href="/teeth-cleaning/" class="btn-service" title="View teeth cleaning">
                        View More
                    </a>
                </div>
            </div>
        </div>
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/teeth-clean-good.jpg" alt="Teeth Cleaning" />
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/puppy-wash.jpg" alt="Dog wash" />
        </div>
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Spa Treatments & Shampoos
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Choose from a range of additional treatments designed to keep your dog's coat clean & healthy.
                </div>
                <div class="service-block-controls">
                    <a href="/spa-treatments/" class="btn-service" title="View spa treatments & shampoos">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Nail Trimming
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Keep those claws in check with our nail trimming services.
                </div>
                <div class="service-block-controls">
                    <a href="/nail-trimming/" class="btn-service" title="View nail trimming services">
                        View More
                    </a>
                </div>
            </div>
        </div>
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/nail-trim.jpg" alt="Nail trimming" />
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/home-4.jpg" alt="Late Night Appointments" />
        </div>
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Late Night Appointments
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    For those who can't attend during our normal opening hours.
                </div>
                <div class="service-block-controls">
                    <a href="/late-night-appointments/" class="btn-service" title="View late night appointment services">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Training Sessions
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Help your dog get accustomed to the grooming experience.
                </div>
                <div class="service-block-controls">
                    <a href="/training-sessions/" class="btn-service" title="View training session services">
                        View More
                    </a>
                </div>
            </div>
        </div>
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/halo.jpg" alt="Halo" />
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        </div>
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Puppy School
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Teach your puppy from a young age how to handle the grooming experience.
                </div>
                <div class="service-block-controls">
                    <a href="/puppy-school/" class="btn-service" title="View puppy school services">
                        View More
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Owner School
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    Learn tips and tricks about how to properly care for your dog's coat.
                </div>
                <div class="service-block-controls">
                    <a href="/owner-school/" class="btn-service" title="View owner school services">
                        View More
                    </a>
                </div>
            </div>
        </div>
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/lying.jpg" alt="Dog lying down" />
        </div>
    </div>
</div>