<div class="social-gallery">
    <div class="fb-page" 
        data-href="https://www.facebook.com/profile.php?id=61570448295284"
        data-tabs="timeline"
        data-width="340" 
        data-height="500" 
        data-small-header="false" 
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true"
    >
        <blockquote cite="https://www.facebook.com/profile.php?id=61570448295284" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/profile.php?id=61570448295284">Soggy Doggy Grooming</a>
        </blockquote>
    </div>
</div>