<div class="service-page">
    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Exfoliating Facial Treatment - £2
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>This is great to remove eye bogies and stubborn dirt, and rehydrating the area.</p>
                    <p>This is available in black cherry, blueberry, calming, vanilla & shea butter.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Paw & Nose Balm
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <p>Nourishing for your dogs paws and nose. This is great for dogs that have dry cracked paws and
                            noses.</p>
                        <p><small>This treatment is FREE upon request.</small></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Paw Scrub & Fizz - £5
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <p>This provides a deep clean while helping to eliminate fungus, germs, and bacteria.
                            Recommended for dogs that chew
                            their paws or do a lot of field and concrete walking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-images">
        <img src="/images/twins.jpg" alt="Twins" />
        <img src="/images/wizard.jpg" alt="Wizard dog" />
    </div>

    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Deep Conditioning
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <h4>Manuka Honey Shampoo</h4>
                        <p>A honey and mango based shampoo designed for dogs with dry and sensitive skin.</p>
                        <p>With it's
                            2-in-1 formula it's great for dogs who just need a little more moisture put back into their
                            coat and perfect for
                            those curly coated breeds leaving behind a fresh new feel to your dogs coat.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Oatmeal Shampoo
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <p>This contains oat proteins to soothe and reduce irritation in the skin as well as natural
                            coconut extra and almond oil to help moisturise and condition hair.</p>
                        <p>It helps to ease dryness and inflammation at the same time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-flex-split">
        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Dirty Beast Shampoo
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <p>An aloe vera base perfectly-balanced formula that will effectively clease dirty and thick fur along with helping
                            deodorise even the smelliest coats.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-block">
            <div class="service-block-text-container">
                <div class="service-block-text-header">
                    Colour-Enhancing Shampoo
                </div>
                <div class="service-block-text-body">
                    <div class="service-block-description">
                        <p>Great for giving coats a new lease of life by boosting its natural pigmentation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Whitening Shampoo
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Carefully balanced formula that will enhance, revitialise and refresh the natural white and light pigmentation in
                        your pet's coat. This is great for removing yellow, brown, and grass staining.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-image-pair">
        <img src="/images/whitening-1-before.jpg" alt="Whitening Shampoo Before" />
        <img src="/images/whitening-1-after.jpg" alt="Whitening Shampoo After" />
    </div>
</div>