<div class="service-page">
    <div class="service-block">
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        </div>
        <div class="service-block-text-container">
            <div class="service-block-text-header">
                Some dogs don't like being groomed
            </div>
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p><strong>That's okay!</strong> Not everyone enjoys the salon experience; especially if they have
                        not had puppy training in a salon environment.</p>
                    <p>We offer training sessions to help show dogs that you don't need to be afraid and it can be enjoyable experience.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="service-block">
        <div class="service-block-text-container">
            <div class="service-block-text-body">
                <div class="service-block-description">
                    <p>Training sessions can vary from dog to dog. We recommend bringing high-value treats e.g.
                        chicken/cheese/etc. to these appointments as this engages the dogs brain more with giving them
                        their favourite treat.</p>
                    <p>While some dogs only need the odd session, others may need more frequent
                        sessions. </p>
                </div>
            </div>
        </div>
        <div class="service-block-image-container">
            <img class="service-block-image" src="/images/teeth-clean.jpg" alt="Teeth Cleaning" />
        </div>
    </div>
    <p><small>Standard session pricing is £25.</small></p>
    <p><small>Multiple session pricing can be discussed during a consultation.</small></p>
</div>