{{ define "main" }}
    {{ partial "hero" (dict "hero" "Contact" ) }}

    <div class="container">
        <h2>Get in touch!</h2>
        <p>If you have any questions or concerns, you can contact me via email, phone, or message me on social media.</p>
        <h2>Book an appointment</h2>
        <p>Please note, I only take bookings via phone or social media.<p>
        <p>I'll likely miss your phone call if I'm in the middle of grooming; just pop me a message and I'll get back to you ASAP!</p>
    </div>
{{ end }}
